	
	.tblsear {
		text-align: center;
		margin: 0px auto;
		margin-bottom: 20px;
	}

	.tblsear tr td select{
		//width: 67%;
		width: 190px;
	}

	.seartxt {
		text-align:center;
		margin: 0;
		padding: 5px 15px;	
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	
